USE [master]
GO
/****** Object:  Database [CAR_RENTAL]    Script Date: 8/2/2025 1:59:41 PM ******/
CREATE DATABASE [CAR_RENTAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAR_RENTAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAR_RENTAL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAR_RENTAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CAR_RENTAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAR_RENTAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAR_RENTAL]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[active] [int] NULL,
	[salt] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NULL,
 CONSTRAINT [pk_Admin_admin_id] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Booking]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[booking_status] [nvarchar](50) NULL,
	[discount] [decimal](18, 0) NULL,
	[deposit] [decimal](18, 0) NULL,
	[payment_type_id] [int] NULL,
	[total_price] [decimal](18, 0) NULL,
	[order_date] [date] NULL,
	[paid] [int] NULL,
	[deposit_cash] [decimal](18, 0) NULL,
	[deposit_cash_has_paid] [int] NULL,
	[payment_confirm] [int] NULL,
	[is_cancel] [int] NULL,
	[reason_cancel] [nvarchar](200) NULL,
	[complete_date] [date] NULL,
 CONSTRAINT [pk_Booking_booking_id] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Booking_details]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking_details](
	[booking_details_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[car_id] [int] NULL,
	[booking_details_status] [nvarchar](50) NULL,
	[booking_date] [date] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[actual_return_date] [date] NULL,
	[price_per_car] [decimal](18, 0) NULL,
	[fine] [decimal](18, 0) NULL,
	[refund] [decimal](18, 0) NULL,
	[status_return] [int] NULL,
 CONSTRAINT [pk_Booking_details_booking_details_id] PRIMARY KEY CLUSTERED 
(
	[booking_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Car]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Car](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_id] [int] NULL,
	[brand] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[price_per_day] [decimal](18, 0) NULL,
	[car_status] [nvarchar](50) NULL,
	[image] [nvarchar](200) NULL,
	[license_plate] [nvarchar](50) NULL,
	[seat_count] [int] NULL,
	[color] [nvarchar](20) NULL,
	[car_type_id] [int] NULL,
	[active] [int] NULL,
 CONSTRAINT [pk_Car_car_id] PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Car_type]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Car_type](
	[car_type_id] [int] IDENTITY(1,1) NOT NULL,
	[car_type_name] [nvarchar](100) NULL,
 CONSTRAINT [pk_Car_type_car_type_id] PRIMARY KEY CLUSTERED 
(
	[car_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[description] [text] NULL,
	[active] [int] NULL,
 CONSTRAINT [pk_Category_cate_id] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [nvarchar](100) NULL,
 CONSTRAINT [pk_City_city_id] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[cus_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](150) NULL,
	[city_id] [int] NULL,
	[active] [int] NULL,
	[cus_id_card] [varchar](20) NULL,
	[create_date] [date] NULL,
	[name] [nvarchar](100) NULL,
	[district_id] [int] NULL,
 CONSTRAINT [pk_Customer_cus_id] PRIMARY KEY CLUSTERED 
(
	[cus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_District]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_District](
	[district_id] [int] IDENTITY(1,1) NOT NULL,
	[district_name] [nvarchar](100) NULL,
	[city_id] [int] NULL,
 CONSTRAINT [pk_District_district_id] PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payment_type]    Script Date: 8/2/2025 1:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment_type](
	[payment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [pk_Payment_type_payment_type_id] PRIMARY KEY CLUSTERED 
(
	[payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Admin] ON 

INSERT [dbo].[tbl_Admin] ([admin_id], [name], [email], [password], [active], [salt], [phone]) VALUES (1, N'Le Thanh Tien Dat', N'datle@gmail.com', N'Fyqjlq88uLvuEH0rWeuCgbHSrmW8gq1dt0UntWcbEk4=', 1, N'CoTWwGDDZ2xB6Gj405cjoQ==', N'123456789')
SET IDENTITY_INSERT [dbo].[tbl_Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Booking] ON 

INSERT [dbo].[tbl_Booking] ([booking_id], [cus_id], [booking_status], [discount], [deposit], [payment_type_id], [total_price], [order_date], [paid], [deposit_cash], [deposit_cash_has_paid], [payment_confirm], [is_cancel], [reason_cancel], [complete_date]) VALUES (89, 14, N'Waiting', CAST(10 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), 1, CAST(2160000 AS Decimal(18, 0)), CAST(N'2025-08-02' AS Date), 0, CAST(1080000 AS Decimal(18, 0)), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_Booking] ([booking_id], [cus_id], [booking_status], [discount], [deposit], [payment_type_id], [total_price], [order_date], [paid], [deposit_cash], [deposit_cash_has_paid], [payment_confirm], [is_cancel], [reason_cancel], [complete_date]) VALUES (90, 15, N'Completed', CAST(5 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), 1, CAST(3078000 AS Decimal(18, 0)), CAST(N'2025-08-02' AS Date), 0, CAST(1539000 AS Decimal(18, 0)), NULL, 1, NULL, NULL, CAST(N'2025-08-02' AS Date))
INSERT [dbo].[tbl_Booking] ([booking_id], [cus_id], [booking_status], [discount], [deposit], [payment_type_id], [total_price], [order_date], [paid], [deposit_cash], [deposit_cash_has_paid], [payment_confirm], [is_cancel], [reason_cancel], [complete_date]) VALUES (91, 16, N'Completed', CAST(10 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)), 1, CAST(6486300 AS Decimal(18, 0)), CAST(N'2025-08-02' AS Date), 0, CAST(2778300 AS Decimal(18, 0)), 1, 1, NULL, NULL, CAST(N'2025-08-02' AS Date))
SET IDENTITY_INSERT [dbo].[tbl_Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Booking_details] ON 

INSERT [dbo].[tbl_Booking_details] ([booking_details_id], [booking_id], [car_id], [booking_details_status], [booking_date], [start_date], [end_date], [actual_return_date], [price_per_car], [fine], [refund], [status_return]) VALUES (178, 89, 1, N'Hiring', CAST(N'2025-08-02' AS Date), CAST(N'2025-08-04' AS Date), CAST(N'2025-08-06' AS Date), NULL, CAST(2400000 AS Decimal(18, 0)), NULL, NULL, NULL)
INSERT [dbo].[tbl_Booking_details] ([booking_details_id], [booking_id], [car_id], [booking_details_status], [booking_date], [start_date], [end_date], [actual_return_date], [price_per_car], [fine], [refund], [status_return]) VALUES (179, 90, 3, N'Hiring', CAST(N'2025-08-02' AS Date), CAST(N'2025-08-04' AS Date), CAST(N'2025-08-06' AS Date), CAST(N'2025-08-07' AS Date), CAST(3240000 AS Decimal(18, 0)), CAST(810000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 1)
INSERT [dbo].[tbl_Booking_details] ([booking_details_id], [booking_id], [car_id], [booking_details_status], [booking_date], [start_date], [end_date], [actual_return_date], [price_per_car], [fine], [refund], [status_return]) VALUES (180, 91, 3, N'Hiring', CAST(N'2025-08-02' AS Date), CAST(N'2025-08-03' AS Date), CAST(N'2025-08-04' AS Date), CAST(N'2025-08-04' AS Date), CAST(1620000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[tbl_Booking_details] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Car] ON 

INSERT [dbo].[tbl_Car] ([car_id], [cate_id], [brand], [model], [price_per_day], [car_status], [image], [license_plate], [seat_count], [color], [car_type_id], [active]) VALUES (1, 4, N'Hyundai 1', N'Hyundai i10 2024', CAST(800000 AS Decimal(18, 0)), N'Booked', N'95dbb307-bf72-4276-9225-722e82140db6-car.jpg', N'123AA-12345', 5, N'White', 1, 1)
INSERT [dbo].[tbl_Car] ([car_id], [cate_id], [brand], [model], [price_per_day], [car_status], [image], [license_plate], [seat_count], [color], [car_type_id], [active]) VALUES (2, 4, N'VinFast', N'VINFAST FADIL 2022', CAST(600000 AS Decimal(18, 0)), N'Booked', N'4a9660d4-630b-4ca3-af27-515749d60751-car.jpg', N'123FA-51234', 5, N'Red', 2, 1)
INSERT [dbo].[tbl_Car] ([car_id], [cate_id], [brand], [model], [price_per_day], [car_status], [image], [license_plate], [seat_count], [color], [car_type_id], [active]) VALUES (3, 3, N'TOYOTA', N'TOYOTA INNOVA 2017', CAST(810000 AS Decimal(18, 0)), N'Booked', N'3c6b17c0-3b1a-4cc9-a16b-6aa24b0264ce-car.jpg', N'521GT-95956', 8, N'GREY', 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_Car] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Car_type] ON 

INSERT [dbo].[tbl_Car_type] ([car_type_id], [car_type_name]) VALUES (1, N'Gasoline')
INSERT [dbo].[tbl_Car_type] ([car_type_id], [car_type_name]) VALUES (2, N'Electric')
SET IDENTITY_INSERT [dbo].[tbl_Car_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Category] ON 

INSERT [dbo].[tbl_Category] ([cate_id], [title], [description], [active]) VALUES (3, N'SUV', N'Description SUV', 1)
INSERT [dbo].[tbl_Category] ([cate_id], [title], [description], [active]) VALUES (4, N'Sedan', N'Description Sedan', 1)
INSERT [dbo].[tbl_Category] ([cate_id], [title], [description], [active]) VALUES (5, N'SportCar', N'Description SportsCar', 1)
SET IDENTITY_INSERT [dbo].[tbl_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_City] ON 

INSERT [dbo].[tbl_City] ([city_id], [city_name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[tbl_City] ([city_id], [city_name]) VALUES (2, N'TP Hồ Chí Minh')
INSERT [dbo].[tbl_City] ([city_id], [city_name]) VALUES (3, N'Thừa Thiên-Huế')
SET IDENTITY_INSERT [dbo].[tbl_City] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Customer] ON 

INSERT [dbo].[tbl_Customer] ([cus_id], [email], [password], [phone], [address], [city_id], [active], [cus_id_card], [create_date], [name], [district_id]) VALUES (14, N'datle123@gmail.com', NULL, N'123456789', N'02, đường 69', 2, 1, N'123456789', CAST(N'2025-08-02' AS Date), N'Lê Thành Tiến Đạt', 7)
INSERT [dbo].[tbl_Customer] ([cus_id], [email], [password], [phone], [address], [city_id], [active], [cus_id_card], [create_date], [name], [district_id]) VALUES (15, N'ANguyen@gmail.com', NULL, N'123465798', N'56/72B', 2, 1, N'123456798', CAST(N'2025-08-02' AS Date), N'Nguyễn Văn A', 4)
INSERT [dbo].[tbl_Customer] ([cus_id], [email], [password], [phone], [address], [city_id], [active], [cus_id_card], [create_date], [name], [district_id]) VALUES (16, N'BNguyen@gmail.com', NULL, N'123465787', N'84/23a', 1, 1, N'123465787', CAST(N'2025-08-02' AS Date), N'Nguyen Van B', NULL)
SET IDENTITY_INSERT [dbo].[tbl_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_District] ON 

INSERT [dbo].[tbl_District] ([district_id], [district_name], [city_id]) VALUES (1, N'Quận 1', 2)
INSERT [dbo].[tbl_District] ([district_id], [district_name], [city_id]) VALUES (2, N'Quận 2', 2)
INSERT [dbo].[tbl_District] ([district_id], [district_name], [city_id]) VALUES (3, N'Quận 3', 2)
SET IDENTITY_INSERT [dbo].[tbl_District] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Payment_type] ON 

INSERT [dbo].[tbl_Payment_type] ([payment_type_id], [name]) VALUES (1, N'Deposit')
INSERT [dbo].[tbl_Payment_type] ([payment_type_id], [name]) VALUES (2, N'Pay in Full')
SET IDENTITY_INSERT [dbo].[tbl_Payment_type] OFF
GO
ALTER TABLE [dbo].[tbl_Admin] ADD  CONSTRAINT [default_Admin_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  CONSTRAINT [default_Booking_booking_status]  DEFAULT ('Waiting') FOR [booking_status]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  CONSTRAINT [df_Booking_paid]  DEFAULT ((0)) FOR [paid]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  DEFAULT ((0)) FOR [deposit_cash]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  DEFAULT ((0)) FOR [deposit_cash_has_paid]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  DEFAULT ((0)) FOR [payment_confirm]
GO
ALTER TABLE [dbo].[tbl_Booking] ADD  CONSTRAINT [df_Booking_is_cancel]  DEFAULT ((0)) FOR [is_cancel]
GO
ALTER TABLE [dbo].[tbl_Booking_details] ADD  CONSTRAINT [default_Booking_details_booking_details_status]  DEFAULT ('Waiting') FOR [booking_details_status]
GO
ALTER TABLE [dbo].[tbl_Booking_details] ADD  CONSTRAINT [df_Booking_details_status_return]  DEFAULT ((0)) FOR [status_return]
GO
ALTER TABLE [dbo].[tbl_Car] ADD  CONSTRAINT [default_Car_car_status]  DEFAULT ('Available') FOR [car_status]
GO
ALTER TABLE [dbo].[tbl_Car] ADD  CONSTRAINT [default_tbl_Car_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Customer] ADD  CONSTRAINT [default_Customer_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [fk_Booking_Customer_cus_id] FOREIGN KEY([cus_id])
REFERENCES [dbo].[tbl_Customer] ([cus_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [fk_Booking_Customer_cus_id]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [fk_Booking_Payment_type_payment_type_id] FOREIGN KEY([payment_type_id])
REFERENCES [dbo].[tbl_Payment_type] ([payment_type_id])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [fk_Booking_Payment_type_payment_type_id]
GO
ALTER TABLE [dbo].[tbl_Booking_details]  WITH CHECK ADD  CONSTRAINT [fk_Booking_details_Booking_booking_id] FOREIGN KEY([booking_id])
REFERENCES [dbo].[tbl_Booking] ([booking_id])
GO
ALTER TABLE [dbo].[tbl_Booking_details] CHECK CONSTRAINT [fk_Booking_details_Booking_booking_id]
GO
ALTER TABLE [dbo].[tbl_Booking_details]  WITH CHECK ADD  CONSTRAINT [fk_Booking_details_Car_car_id] FOREIGN KEY([car_id])
REFERENCES [dbo].[tbl_Car] ([car_id])
GO
ALTER TABLE [dbo].[tbl_Booking_details] CHECK CONSTRAINT [fk_Booking_details_Car_car_id]
GO
ALTER TABLE [dbo].[tbl_Car]  WITH CHECK ADD  CONSTRAINT [fk_Car_Car_type_car_type_id] FOREIGN KEY([car_type_id])
REFERENCES [dbo].[tbl_Car_type] ([car_type_id])
GO
ALTER TABLE [dbo].[tbl_Car] CHECK CONSTRAINT [fk_Car_Car_type_car_type_id]
GO
ALTER TABLE [dbo].[tbl_Car]  WITH CHECK ADD  CONSTRAINT [fk_Car_Category_cate_id] FOREIGN KEY([cate_id])
REFERENCES [dbo].[tbl_Category] ([cate_id])
GO
ALTER TABLE [dbo].[tbl_Car] CHECK CONSTRAINT [fk_Car_Category_cate_id]
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD  CONSTRAINT [fk_Customer_City_city_id] FOREIGN KEY([city_id])
REFERENCES [dbo].[tbl_City] ([city_id])
GO
ALTER TABLE [dbo].[tbl_Customer] CHECK CONSTRAINT [fk_Customer_City_city_id]
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD  CONSTRAINT [fk_Customer_District_district_id] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_District] ([district_id])
GO
ALTER TABLE [dbo].[tbl_Customer] CHECK CONSTRAINT [fk_Customer_District_district_id]
GO
USE [master]
GO
